@import 'tailwindcss';

@theme {
	--color-custom-purple: #761be4;
	--color-custom-darkpurple: #6a19cd;
	--color-custom-darkblue: #000853;
	--color-custom-lightpurple: #cbb6e5;
	--color-custom-danger: #ed4545;
}

body {
	background-color: #f0eaf8;
}

#root {
	max-width: 490px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
}

html {
	font-family: 'Inter', 'Arial', sans-serif;
}
